html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}
.logo-container{
  text-align: center;
  padding: 10%;
}
.logo{
  width: 100%;
}
.login-button {
  border-color: #DE042F;
  background: #DE042F !important;
  color: #FFF;
}
.pac-container{
  z-index: 9999;
}
.page{
  background-image: url("../img/bg.jpg");
  background-color: rgba(57,57,57,0.75);
  background-size: cover;
}
#nearby-form-list, #bookmarks-list{
  background: rgba(255, 255, 255, 0.75);
}
.no-margin{
  margin: 0px;
}
.panel{
  background: #FFF;
}
a.button{
    background: #FFF;
}
.transit-line {
  border: 1px solid;
  padding: 0px 2px;
  line-height: 1;
}
.button-container-index {
  margin-top: 3vh;
  line-height: 5vh;
  text-align: center;
}
.button-container-index span{
  font-size: 4vh;
  color: #FFF;
}
.button-index {
  border: 1.5vh solid rgba(221, 221, 221, 0.5);
  border-radius: 50%;
  box-sizing: content-box;
  background-clip: padding-box !important;
  height: 15vh !important;
  width: 15vh;
  margin: auto;
  padding: 0vh;
}
.button-index .fa {
  font-size: 5vh;
  color: #DE042F;
  padding: 5vh;
}
.button-mic {
  position: fixed;
  bottom: 14vh;
  right: 3vh;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  text-align: center;
  background: rgba(0, 122, 255, 0.75);
  border: 1vh solid rgba(119,119,119,0.5);
  background-clip: padding-box !important;
  z-index: 1;
}
.button-map {
  position: fixed;
  bottom: 5vh;
  right: 3vh;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  text-align: center;
  background: rgba(0, 122, 255, 0.75);
  border: 1vh solid rgba(119,119,119,0.5);
  background-clip: padding-box !important;
  z-index: 1;
}
.button-map-hide {
  position: fixed;
  bottom: 5vh;
  right: 3vh;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  text-align: center;
  background: rgba(0, 122, 255, 0.75);
  border: 1vh solid rgba(119,119,119,0.5);
  background-clip: padding-box !important;
  display: none;
  z-index: 1;
}
.button-mic .fa, .button-map .fa, .button-map-hide .fa {
  font-size: 2vh;
  color: #FFF;
  padding: 2vh;
}
.button-clear .fa{
  color: #DDD;
  padding: 3vw;
}
.button-go-mic .fa{
  color: #007AFF;
  padding: 3vw;
}
.tabbar-labels .fa {
  font-size: 24px;
  padding: 2px;
}
#route-list a,
#route-list .item-title,
#route-list .item-subtitle,
#route-content .item-title,
#route-content .item-subtitle,
#steps-content .item-title,
#steps-content .item-subtitle{
  color: #000;
  white-space: normal;
  line-height: normal;
}
#route-list .item-media,
#route-list .item-after{
  padding: 5px 0px;
}
#route-content .item-text,
#steps-content .item-text{
  height: initial;
}
#steps-content .transit-line{
  margin: auto 5px auto 0px;
}
.item-content-inner .item-inner:after{
  display: none;
}
.route-img, .view-route-img{
  height: 15px;
}
.view-stops-img {
  height: 8px;
  padding: 2px 6px;
  transform: rotate(-180deg);
}
.item-inner-media {
  display: flex;
  flex-wrap: wrap;
}
.item-stops{
  padding-left: 15px;
}
.item-feature{
  padding-left: 5px;
  color: #4cd964;
}
#steps-content li.selected{
  background-color: rgba(0, 122, 255, 0.5);
}
#steps-content li.deselected{
  background-color: rgba(76, 217, 100, 0.5);
}
i.icon.icon-app {
    width: 97px;
    height: 44px;
    background-image: url("../img/logo.png");
}
